:root {
  /* --shadow-color: 358deg 70% 42%; Matching */
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.4px hsl(var(--shadow-color) / 0.55),
    0.3px 0.7px 0.6px -2.5px hsl(var(--shadow-color) / 0.36),
    0.9px 1.8px 1.5px -5px hsl(var(--shadow-color) / 0.18);
  --shadow-elevation-medium: 0.3px 0.5px 0.4px hsl(var(--shadow-color) / 0.57),
    0.4px 0.8px 0.7px -1.7px hsl(var(--shadow-color) / 0.43),
    1.5px 3px 2.5px -3.3px hsl(var(--shadow-color) / 0.29),
    4.5px 9px 7.5px -5px hsl(var(--shadow-color) / 0.14);
  --shadow-elevation-high: 0.3px 0.5px 0.4px hsl(var(--shadow-color) / 0.47),
    0.3px 0.6px 0.5px -0.6px hsl(var(--shadow-color) / 0.42),
    0.6px 1.1px 0.9px -1.2px hsl(var(--shadow-color) / 0.37),
    1.3px 2.6px 2.2px -1.9px hsl(var(--shadow-color) / 0.32),
    2.7px 5.4px 4.5px -2.5px hsl(var(--shadow-color) / 0.26),
    5.1px 10.1px 8.5px -3.1px hsl(var(--shadow-color) / 0.21),
    8.6px 17.2px 14.4px -3.7px hsl(var(--shadow-color) / 0.16),
    13.5px 27px 22.6px -4.4px hsl(var(--shadow-color) / 0.11),
    20px 40px 33.5px -5px hsl(var(--shadow-color) / 0.05);
}

body {
  background: #f87171;
  font-family: -apple-system, 'Fira Sans', sans-serif;
  height: 100vh;
  color: hsl(0, 0%, 20%);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #fff;
  border-radius: 10px;
  min-height: 250px;
  min-width: 350px;

  box-shadow: var(--shadow-elevation-high);
}

.bigNumber {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
}

.buttons button {
  flex-grow: 1;
}

button {
  background-color: #fff;
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 90%);
  margin: 2px;
  box-shadow: var(--shadow-elevation-medium);
  user-select: none;
}
